#ignorar arquivos de compilação
build-02-rotulacao-Desktop_Qt_5_7_0_GCC_64bit-Debug
build-01-Interpolacao-Desktop_Qt_5_8_0_GCC_64bit-Debug
build-03-operacoes-aritmeticas-e-geometricas-Desktop_Qt_5_7_0_GCC_64bit-Debug
build-04-equalizacaoDeHistogramas-Desktop_Qt_5_7_0_GCC_64bit-Debug
imagens
